*{
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
}
.nav{
    margin: 0;
    width: 100%;
    background-color:rgb(43, 42, 42);
    color: white;
    height: 50px;
    /* position: fixed; */
    line-height:50px;
    
}
.nav > span{
    margin: 0;
    padding-left: 30px;
    
 /*   border: 1px solid red; */
}
.family{
    background-image: url(./1.JPG);
    width: 100%;
    height: 500px;
    background-position: center center ;
    background-size:cover ;
}
.content{
    width: 100%;
    height: 300px;
    text-align: left;
}
.content > h4{
    padding: 0;
    margin: 40px 30px 10px;
    font-size: 16px;
    color: #4a4a4a;
}
.content h1{
    margin: 0px 30px 30px;
    font-size: 20px;
    color: #1b1b1b;
}
.content p{
    font-size: 16px;
    color: #7a7a7a;
    margin: 0px 30px 40px;
}
.first{
    background-image: url(./2.JPG);
    width: 100%;
    margin: 0;
    height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
}
.second{
    background-image: url(./3.JPG);
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second p{
    border: 4px solid white;
    color: white;
    padding: 9px 40px 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}
.third{
    background-image: url(./4.JPG);
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    margin: 0;
    width: 100%;
    background-color:rgb(43, 42, 42);
    color: white;
    height: 50px;
    /* position: fixed; */
    line-height:45px;
    clear: both;
}
.aa{
    color: white;
}
@media screen and (min-width: 768px){
    .content h4{
       margin:40px 65px 10px ;
        
    }
    .content h1{
        margin: 0px 65px 30px;
        
    }
    .content p{
        margin: 0px 65px 40px;
    }
    .first{
        width: 50%;
        float: left;
        height: 500px;
    }
    .second{
        width: 50%;
        float: right;
        height: 250px;
    }
    .third{
        width: 50%;
        float: right;
        height: 250px;
    }
}
@media screen and (min-width: 1440px){
    .family{
        width: 50%;
        height: 800px;
        float: left;

    }
    .content{
        width: 50%;
        height: 400;
        float: right;
    }
    .content h4{
        margin:40px 65px 10px ;
         
     }
     .content h1{
         margin: 0px 65px 30px;
         
     }
     .content p{
         margin: 0px 65px 40px;
    }
    .first{
        float: left;
        width: 25%;
        height: 500px ;
    }
    .second{
        float: right;
        width: 25%;
        height: 250px;
    }
    .third{
        float: right;
        width: 25%;
        height: 250px;
    }
}